@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;700;800&display=swap");

:root {
  --inter: "inter", sans-serif;
  --create: "Crete Round", serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  height: 100vh;
}

.images_odin {
  display: flex;
  background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.odin_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 50px;
  margin-bottom: 13rem;
}
.odin_logo img {
  height: 100px;
}

.input_test {
  display: grid;
}
.quotation {
  background-color: #f9fafb;
  padding-left: 50px;
  font-size: 21px;
  font-weight: bold;
  padding-top: 60px;
  padding-right: 120px;
  font-family: var(--inter);
}
.input_form {
  margin-top: 4px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid red;
  column-gap: 20px;
  row-gap: 4px;
}
.input_form h3 {
  grid-column: 1 / 3;
}
