body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  height: 100vh;
}

.images_odin {
  display: flex;
  background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.odin_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 50px;
  margin-bottom: 13rem;
}
.odin_logo img {
  height: 100px;
}

.quotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafb;
}

.quotation > p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 40px;
  margin-right: 80px;
  padding-right: 40px;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
.quotation p:first-child {
  margin-top: 0;
}
